In [3]:
# Dependencies and Setup
# import matplotlib.pyplot as plt
import csv
import pandas as pd
import numpy as np

# Load csv file
school_file = "PyCitySchools/Resources/schools_complete.csv"
student_file = "PyCitySchools/Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_df = pd.read_csv(school_file)
student_df = pd.read_csv(student_file)



# Test read-in
# school_df
# student_df

# Test for col information
# school_df.columns
# student_df.columns

In [4]:
#  Merge both tables of data
school_data_complete_df= pd.merge(student_df, school_df, how="left", on=["school_name", "school_name"])


# Test merged
# school_data_complete_df

In [29]:
# Total schools (begins to look in the merged data for results/this has to be a value_counts for a unique count)
total_schools=school_data_complete_df["school_name"].value_counts()
# total_schools.count()

15

In [18]:
# Total students/total number of students
total_students=school_data_complete_df["Student ID"].count()
# print (total_students)

39170

In [19]:
# Total Budget
total_budget=school_df["budget"].sum()
# total_budget

24649428

In [8]:
# Average Math score
avg_math_score=school_data_complete_df["math_score"].mean()
# print (avg_math_score)

In [9]:
# Average reading score
avg_read_score=school_data_complete_df["reading_score"].mean()
# avg_read_score

In [10]:
# % who passed math=score >70
math_pass=school_data_complete_df.loc[(student_df["math_score"] >=70)]
# print (math_pass)

count_pass_math=math_pass["math_score"].count()
# print (count_pass_math)

per_math_class=(count_pass_math/total_students)*100
# per_math_class

In [11]:
# % students who pass reading=70
read_pass=school_data_complete_df.loc[(student_df["reading_score"] >=70)]
# print (read_pass)

count_pass_read= read_pass["reading_score"].count()
# print (count_pass_read)

per_read_pass=(count_pass_read/total_students)*100
# print (per_read_pass)

In [12]:
# Overall passing rate=average of the above per_math_pass + per_read_pass / 2
overall_pass=(per_math_class + per_read_pass)/2
# print (overall_pass)

In [13]:
district_summary = {"Total Schools" : total_schools,
                   "Total Students" : total_students,
                   "Total Budget" : total_budget,
                   "Average Math Score" : avg_math_score,
                   "Average Reading Score" : avg_read_score,
                   "% Passing Math" : per_math_class,
                   "% Passing Reading" : per_read_pass,
                   "% Overall Passing" : overall_pass
                  }


district_summary_df = pd.DataFrame([district_summary])                                              
                                   
district_summary_df = district_summary_df[["Total Schools",
                   "Total Students","Total Budget","Average Math Score", "Average Reading Score",
                   "% Passing Math", "% Passing Reading", "% Overall Passing" ]]

In [14]:
district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,Bailey High School 4976 Johnson High Sch...,39170,24649428,78.985371,81.87784,74.980853,85.805463,80.393158

In [15]:
# Calculate budget per student_part 3
each_child_gets=school_df["budget"]/school_df["size"]
each_child_gets

0     655.0
1     639.0
2     600.0
3     652.0
4     625.0
5     578.0
6     582.0
7     628.0
8     581.0
9     609.0
10    583.0
11    637.0
12    650.0
13    644.0
14    638.0
dtype: float64

In [36]:

# Using GroupBy in order to separate the data into fields according to "state" values
grouped_schoolname_df = school_data_complete_df.groupby(['school_name'])

# The object returned is a "GroupBy" object and cannot be viewed normally...
print(grouped_schoolname_df)

# In order to be visualized, a data function must be used...
grouped_schoolname_df.count().head(10)

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x000001643F18CD30>

,Student ID,student_name,gender,grade,reading_score,math_score,School ID,type,size,budget
school_name,,,,,,,,,,
Bailey High School,4976,4976,4976,4976,4976,4976,4976,4976,4976,4976
Cabrera High School,1858,1858,1858,1858,1858,1858,1858,1858,1858,1858
Figueroa High School,2949,2949,2949,2949,2949,2949,2949,2949,2949,2949
Ford High School,2739,2739,2739,2739,2739,2739,2739,2739,2739,2739
Griffin High School,1468,1468,1468,1468,1468,1468,1468,1468,1468,1468
Hernandez High School,4635,4635,4635,4635,4635,4635,4635,4635,4635,4635
Holden High School,427,427,427,427,427,427,427,427,427,427
Huang High School,2917,2917,2917,2917,2917,2917,2917,2917,2917,2917
Johnson High School,4761,4761,4761,4761,4761,4761,4761,4761,4761,4761
Pena High School,962,962,962,962,962,962,962,962,962,962

In [47]:
# Create school name variable
listSchools=grouped_schoolname_df["school_name"].unique()
listSchools

school_name
Bailey High School          [Bailey High School]
Cabrera High School        [Cabrera High School]
Figueroa High School      [Figueroa High School]
Ford High School              [Ford High School]
Griffin High School        [Griffin High School]
Hernandez High School    [Hernandez High School]
Holden High School          [Holden High School]
Huang High School            [Huang High School]
Johnson High School        [Johnson High School]
Pena High School              [Pena High School]
Rodriguez High School    [Rodriguez High School]
Shelton High School        [Shelton High School]
Thomas High School          [Thomas High School]
Wilson High School          [Wilson High School]
Wright High School          [Wright High School]
Name: school_name, dtype: object

In [ ]:
# Create school name variable
listSchools=grouped_schoolname_df["school_name"].unique()
listSchools

In [34]:
# Average math score & Average reading score
# Use Groupby function to group on School_nameand display both reading and math scores from variable above and rest the index

# school_each_data=school_data_complete_df('school_name').value_counts()
# school_each_data

each_school_data=school_data_complete_df["school_name"].unique()
each_school_data

array(['Huang High School', 'Figueroa High School', 'Shelton High School',
       'Hernandez High School', 'Griffin High School',
       'Wilson High School', 'Cabrera High School', 'Bailey High School',
       'Holden High School', 'Pena High School', 'Wright High School',
       'Rodriguez High School', 'Johnson High School', 'Ford High School',
       'Thomas High School'], dtype=object)

In [ ]:

each_student_data = {"Schools Type" : ,
                   "Total Students" : ,
                   "Total Budget" : ,
                    "Per Student Budget": ,
                   "Average Math Score" : ,
                   "Average Reading Score" : ,
                   "% Passing Math" : ,
                   "% Passing Reading" : ,
                   "% Overall Passing" : 
                  }


each_student_data_df = pd.DataFrame([each_student])                                              
                                   
each_student_data_df = district_summary_df[["Total Schools",
                   "Total Students","Total Budget","Per Student Budget","Average Math Score", "Average Reading Score",
                   "% Passing Math", "% Passing Reading", "% Overall Passing" ]]

In [35]:
each_student_data_df

NameError: name 'each_student_data_df' is not defined